#container {
    width: 100%;
    height: 75%;
    background-image: url('../../../assets/images/thumbnail.png');
    background-size: cover;
    background-position: center;
}

.home-item:hover {
    background-color: rgba(0,0,0,0.05);
}

a {
    text-decoration: none;
    color: darkslategray;
}

@font-face {
    font-family: 'Playwrite IS', cursive;
    src: url('../../../assets/PlaywriteIS-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .item-title {
    font-weight: bold;
    font-size: 24px;
    font-family: 'Playwrite IS', cursive;
  }