<div class="container px-1 px-md-5 my-5">
  <h1 class="text-center mb-5">Your Cart</h1>
  @for(item of cartItems; track item; let idx = $index){
      <div class="d-flex flex-row align-items-center row justify-content-center text-align-center my-3 mx-2 mx-md-5">
        <img mat-card-image [src]="getImageUrl(item.imageUrl)" class="col-12 col-md-2 mx-auto mx-md-0" alt="Photo">
        <div class="col-12 col-md-3 my-3">
          <p class="text-center text-md-start">{{item.brand}}</p>
          <h2 class="text-center text-md-start cart-item-title">{{item.name}}</h2>
          <p class="text-center text-md-start">{{item.type}}</p>
          <p class="text-center text-md-start">{{item.size}} ml</p>
        </div>
        <span class="col cart-item-amount text-center">{{item.price}} €</span>
        <div class="col" style="max-width: 120px;">
          <mat-form-field style="width: 100%; font-size: 14px; margin-bottom: -20px;" appearance="outline">

            <mat-select [(ngModel)]="item.amount" name="food" (selectionChange)="amountSelectionChange()">
              @for (amount of amounts; track amount) {
                <mat-option [value]="amount">{{amount}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <span class="col cart-item-price text-center">{{getCartItemPrice(item)}} €</span>
        <button mat-icon-button class="col-12 col-md-3" (click)="removeItemFromCart(idx)">
          <mat-icon>remove_shopping_cart</mat-icon>
        </button>
      </div>
      @if (!item.isAvailable) {
        <div class="my-3 mx-2 mx-md-5 d-flex flex-row align-items-center">
          <mat-icon class="info-icon me-2">info_outline</mat-icon>
          <span>This product is not available.</span>
        </div>
      }
  <mat-divider></mat-divider>
  }
  <div class="total-price mt-3 px-5 py-3 w-100 d-flex justify-content-space-between">
    <span class="spacer"></span>
    <div class="total-container">
      Total:<span class="cart-item-price ms-3"> {{calculateTotalPrice()}} €</span>
    </div>
  </div>
  <div class="cart-actions-container d-flex flex-row mt-3">
    <button mat-stroked-button class="p-4" (click)="navigateToProductsPage()">
      Back to Store
    </button>
    <span class="spacer"></span>
    <button mat-flat-button class="p-4" color="primary" (click)="navigateToPurchasePage()" [disabled]="!areAllProductsAvailable">
      Purchase
    </button>
  </div>
</div>
