<div class="mt-5 container-sm">
    <div class="mb-4 w-100 d-flex flex-column align-items-center">
        @if (isAdmin) {
            <button mat-stroked-button (click)="addProduct()" class="mb-2" style="color: rgba(0, 0, 0, 0.6);">
                Add Fragrance <mat-icon>add</mat-icon>
            </button>
        }
        <form [formGroup]="filterForm" class="d-flex flex-column flex-md-row justify-content-center align-items-md-center">
            <mat-form-field appearance="outline" subscriptSizing="dynamic" class="my-1 my-md-0 mx-1">
                <mat-label>Brand</mat-label>
                <input type="text"
                   aria-label="Brand"
                   matInput
                   formControlName="brand"
                   [matAutocomplete]="autoBrand">
                <mat-autocomplete #autoBrand="matAutocomplete" [displayWith]="displayFn">
                  @for(brand of filteredBrands | async; track brand) {
                    <mat-option [value]="brand">{{brand.name}}</mat-option>
                  }
                </mat-autocomplete>
              </mat-form-field>
            
              <mat-form-field appearance="outline" subscriptSizing="dynamic" class="my-1 my-md-0 mx-1">
                <mat-label>Type</mat-label>
                <input type="text"
                   aria-label="Type"
                   matInput
                   formControlName="type"
                   [matAutocomplete]="autoType">
                <mat-autocomplete #autoType="matAutocomplete"  [displayWith]="displayFn">
                  @for(type of filteredTypes | async; track type) {
                    <mat-option [value]="type">{{type.name}}</mat-option>
                  }
                </mat-autocomplete>
              </mat-form-field>
              
              <mat-form-field appearance="outline" subscriptSizing="dynamic" class="my-1 my-md-0 mx-1">
                <mat-label>Category</mat-label>
                <input type="text"
                   aria-label="Category"
                   matInput
                   formControlName="category"
                   [matAutocomplete]="autoCategory">
                <mat-autocomplete #autoCategory="matAutocomplete" [displayWith]="displayFn">
                  @for(category of filteredCategories | async; track category) {
                    <mat-option [value]="category">{{category.name}}</mat-option>
                  }
                </mat-autocomplete>
              </mat-form-field>
            <button mat-icon-button color="primary" class="my-1 my-md-0" (click)="filterProducts()" [disabled]="isFormEmpty">
                <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button color="warn" class="my-1 my-md-0" (click)="clearFilter()" [hidden]="!areProductsFiltered">
                <mat-icon>close</mat-icon>
          </button>
        </form>
    </div>
    <div class="row justify-content-center">
        @if(!isLoaded) {
          <img src="../../../assets/images/elipsis.svg" style="max-width: 150px;" alt="Loader">
        }
        @if(!products && isLoaded || products &&  products.length == 0 && isLoaded) {
          <h1 class="text-center mt-5">No Fragrances listed.</h1>
        }
        @if (products &&  products.length > 0 && isLoaded) {
          @for (product of products; track product) {
              <mat-card 
                  class="product col m-2"
                  (click)="openProductDetails(product.productId)">
                  <img mat-card-image [src]="getImageUrl(product.imageUrl)" class="mx-auto mt-2" style="max-width: 150px; max-height: 150px;" alt="Photo" alt="Cover Image">
                  <mat-card-header class="h-100 w-100">
                      <div class="d-flex flex-column h-100 w-100 justify-content-between mb-3">
                          <div class="d-flex flex-column">
                              <mat-card-subtitle>{{product.brand.name}}</mat-card-subtitle>
                              <mat-card-title>{{product.name}}</mat-card-title>
                              <mat-card-subtitle>{{product.type.name}}</mat-card-subtitle>
                          </div>
                          <div class="mb-3">
                              <span class="price float-end">From {{getLowestSizePrice(product.sizePrices)}} €</span>
                          </div>
                      </div>
                  </mat-card-header>
              </mat-card>
          }
        }
    </div>
</div>