.stepper {
  border-radius: 20px;
}

::ng-deep .mat-step-header:hover{
  border-radius: 15px !important;
}

::ng-deep .mat-step-header:focus {
  border-radius: 15px !important;
}

mat-icon {
  color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 992px) {
  mat-form-field {
    width: 250px;
  }
}

@media screen and (min-width: 992px) {
  mat-form-field {
    width: 350px;
  }
}

.cart-item-title {
  font-size: 14px;
  font-weight: 400;
}

.cart-item-amount {
  font-size: 14px;
}

.cart-item-price {
  font-size: 14px;
  font-weight: 500;
}

.order-summary-container {
  background-color: #f5f5f5;
  border-radius: 20px;
  display: inline-block;
  width: 300px;
}

.total-payment-container {
  background-color: #f5f5f5;
  border-radius: 20px;
  display: inline-block;
}

.total-container {
  font-size: 18px;
  span, h4 {
    font-size: 18px;
  }
}

.spacer {
  flex: 1 1 auto;
}

.horizontal-line {
  border-top: 1px solid lightgray;
}

button.mat-mdc-menu-item:hover {
  background-color: none;
  border-radius: 15px;
  transform: translateY(-1px);
}

button {
  font-size: 16px;
}

.mat-mdc-menu-panel {
  min-width: none;
}

span.summary-element-title {
  color: darkgray;
  font-size: 16px;
}
span.summary-element-content {
  font-size: 18px;
  color: darkslategray;
  font-weight: 400;
}

.vertical-line {
  border-left: 1px solid lightgray;
  height: 150px;
}