.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
         causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
         `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.spacer {
  flex: 1 1 auto;
}

.header-title {
  font-weight: bold;
  font-size: 20px;
}

.header-title:hover {
  cursor: pointer;
}


.menu-button:hover {
  cursor: pointer;
}

button.cart-menu-item:hover {
  background-color: white;
  span.cart-item-title {
    text-decoration: underline;
  }
}


.cart-item-title {
  font-size: 14px;
  font-weight: 400;
}

.cart-item-amount {
  font-size: 14px;
}

.cart-item-price {
  font-size: 14px;
  font-weight: 500;
}

.mat-mdc-menu-panel {
  min-width: none;
}

.floating-button {
  position: fixed;
  top: 70px;
  right: 10px;
  z-index: 1000;
  background-color: lightseagreen;
}

.chat-title {
  font-size: 18px;
}

.header-container {
  border-bottom: 1px solid lightgray;
}

.question {
  background-color: lightgreen;
  border-radius: 30px;
  display: inline-block;
}

.answer {
  background-color: lightskyblue;
  border-radius: 30px;
  display: inline-block;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1px;
  color: darkslategray;
}

.scrollable-container {
  max-height: 75vh; 
  overflow-y: auto;
  border-bottom: 1px solid lightgray;
}

.chat-container {
  width: 450px;
}

@media screen and (max-width: 450px) {
  .chat-container {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .chat-container {
    width: 100%;
  }
  p {
    font-size: 12px;
  }
}

@media screen and (min-height: 1200px) {
  .scrollable-container {
    max-height: 100vh;
  }
}

@media screen and (max-height: 1000px) {
  .scrollable-container {
    max-height: 72vh;
  }
}

@media screen and (max-height: 740px) {
  .scrollable-container {
    max-height: 65vh;
  }
}

.send-button {
  min-height: 56px;
  border-radius: 15px;
}

.question-field {
  width: 100%;
}
