<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <button class="d-md-none me-2" mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <h1 class="header-title" (click)="navigateToHome()">FRAGRANCE.HR</h1>
    <mat-icon class="ms-1">air_purifier</mat-icon>
    <span class="spacer"></span>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="d-none d-md-block">
        @for (link of links; track link) {
          <a mat-tab-link
            (click)="activeLink = link.url"
            [active]="activeLink == link.url"
            [routerLink]="[link.url]" routerLinkActive="router-link-active" > {{link.title}} </a>
        }
      </nav>
      <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
        <span class="spacer"></span>
    <button 
      mat-icon-button
      [matMenuTriggerFor]="menu"
      [disabled]="cartItems.length == 0">
      <mat-icon 
        aria-hidden="false" 
        [matBadgeHidden] = "cartItems.length == 0"
        [matBadge]="cartItemsCount"
        >shopping_basket</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div class="container d-flex flex-column justify-content-center">
        @for (item of cartItems; track item) {
          <button mat-menu-item class="cart-menu-item p-0 my-1" (click)="openCartItemDetails(item.productId)">
            <div class="d-flex flex-row">
              <img mat-card-image src="../../../assets/images/eros.jpg" class="mx-auto mx-md-0" style="max-width: 75px;" width="100%" alt="Photo">
              <div class="my-auto w-100 ms-3">
                <span class="cart-item-title">{{item.name}}</span>
                <br/>
                <div class="d-flex justify-content-between w-100 mt-2">
                  <span class="cart-item-amount">x{{item.amount}}</span>
                  <span class="cart-item-price">{{getCartItemPrice(item)}} €</span>
                </div>
              </div>
            </div>
          </button>
        }
        <button 
              mat-flat-button  
              class="mt-4"
              color="primary"
              (click)="navigateToCartPage()">
              <span>Go to Cart</span>
              <mat-icon>shopping_basket</mat-icon>
            </button>
      </div>
    </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>person_outline</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu" class="user-menu p-0">
        @if (isAuthenticated) {
          <button mat-menu-item class="user-menu-item" disabled>
            <mat-icon>person_outline</mat-icon>
            <span>{{userName}}</span>
          </button>
          <button mat-menu-item class="user-menu-item" (click)="navigateToOrders()">
            <mat-icon>history</mat-icon>
            <span>Orders</span>
          </button>
          @if (isAdmin) {
            <button mat-menu-item class="user-menu-item" (click)="navigateToKeycloakConsole()">
              <mat-icon>supervisor_account</mat-icon>
              <span>Manage Users</span>
            </button>
          }
          <mat-divider></mat-divider>
          <button mat-menu-item class="user-menu-item" (click)="logout()"> 
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        }
        @else {
          <button mat-menu-item class="user-menu-item" (click)="login()"> 
            <mat-icon>exit_to_app</mat-icon>
            <span>Login</span>
          </button>
        }
      </mat-menu>
  </mat-toolbar>
  <mat-sidenav-container
    #sidenav
    (backdropClick)="closeSidenav()"
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        @for (link of links; track link) {
        <a mat-list-item [routerLink]="link.url" (click)="closeSidenav()">{{ link.title }}</a>
        }
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav
      #cnav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      position="end"
    >
      <div class="h-100 d-flex flex-column justify-content-between">
        <div class="container chat-container">
          <div class="d-flex flex-column align-items-center w-100">
            <div class="header-container px-3 py-2 w-100">
              <img  src="../../../assets/images/chatbot.png" class="me-3" width="50px" alt="Photo">
              <span class="chat-title">Assistant</span>
            </div>
            <div class="scrollable-container h-100 px-2 px-md-5 mb-4 py-2 w-100" #itemContainer>
              @for(qa of QAs; track qa; let i = $index) {
                  @if (qa.question != ''){
                    <div class="w-100">
                      <span class="spacer"></span>
                      <div class="question p-4 my-2 float-end">
                        <p class="m-0">{{ qa.question }}</p>
                      </div>
                    </div>
                  }
                <br />
                <div class="w-100"> 
                  @if(!isAnswerLoading || i != QAs.length-1 || QAs.length == 1){
                    <div class="answer p-4 mt-2">
                      <p class="m-0">{{ qa.answer }}</p>
                    </div>
                  }
                  @if(isAnswerLoading && i == QAs.length-1) {
                    <div class="answer p-2 mt-2">
                      <img src="../../../assets/images/chat-loader.svg" class="mx-auto mx-md-0" style="max-width: 50px;" width="100%" alt="Loader">
                    </div>
                  }
                </div>
              }
            </div>
          </div>
        </div>
        <div class="container mb-3" style="bottom:0; position:relative">
          <form [formGroup]="questionForm" class="d-flex flex-row align-items-center w-100">
            <mat-form-field appearance="outline" subscriptSizing="dynamic" class="question-field me-2">
              <mat-label>Question</mat-label>
              <input matInput formControlName="question" required>
              <mat-icon matSuffix style="color: rgba(0, 0, 0, 0.6);">question_mark</mat-icon>
            </mat-form-field>
            <button mat-raised-button color="primary" class="send-button" [disabled]="questionForm.invalid" (click)="askQuestion()">
              <mat-icon class="ms-2">send</mat-icon>
            </button>
          </form>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<button mat-mini-fab class="floating-button" (click)="cnav.toggle()">
  <mat-icon>chat</mat-icon>
</button>
