@if(isLoaded) {
<div class="container mt-5">
  <div class="container">
    <div class="d-flex flex-column flex-md-row">
        <img mat-card-image [src]="getImageUrl()" class="mx-auto mx-md-0" style="max-width: 450px; max-height: 450px;" width="100%" alt="Photo">
        <div class="d-flex flex-column justify-content-between mt-3 ms-0 ms-md-5">
          <div>
              <h2 class="mb-0">{{product.brand.name}}</h2>
              <h1 class="mb-0">{{product.name}}</h1>
              <h3>{{product.type.name}}</h3>
              <div class="d-flex flex-column mt-5">
                <div>
                  <h4>Available sizes</h4>
                  <mat-form-field appearance="outline">
                    <mat-select [(ngModel)]="selectedSizePrice" name="food" class="w-100">
                      @for (sizePrice of product.sizePrices; track sizePrice) {
                        <mat-option [value]="sizePrice" class="w-100">
                          <span class="size-price-option">{{sizePrice.size}} ml </span><span> for </span><span class="size-price-option">{{sizePrice.price}} €</span>
                        </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="d-flex flex-row mt-3">
                  <div style="width: 115px;">
                    <mat-form-field style="width: 100%; font-size: 14px; margin-bottom: -20px;" appearance="outline">
                      <mat-label>Amount</mat-label>
                      <mat-select [(ngModel)]="selectedAmount" name="food">
                        @for (amount of amounts; track amount) {
                          <mat-option [value]="amount">{{amount}}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div>
                  <button 
                    mat-flat-button 
                    class="ms-2 h-100"
                    style="border-radius:20px;" 
                    color="primary"
                    (click)="addProductToCart(); openSnackBar('Product added to Cart!', 'Dismiss')">
                    <!-- <span>Add to cart</span> -->
                    <mat-icon class="ms-2" style="transform:scale(1.25)">shopping_basket</mat-icon>
                  </button>
                  </div>
                </div>
              </div>
              
          </div>
        </div>
    </div>
    <div class="row mt-3">
      <h3>Description</h3>
      <p class="col-md-8">{{product.description}}</p>
    </div>
  </div>
  <div class="container my-5">
    @if(isAdmin){
      <div class="my-3">
        <button mat-stroked-button (click)="editProduct()" class="mx-1">
          Edit Fragrance 
        </button>
        <button mat-stroked-button color="warn" (click)="deleteProduct()" class="mx-1">
          Delete Fragrance
        </button>
      </div>
    }
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false"
                           class="mat-elevation-z0 mb-2">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Scent Profiles
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row row-cols-1 row-cols-md-3">
          @for(noteType of noteTypes; track noteType;) {
            <div class="col mb-3">
              <h3 class="mt-3">{{noteType.name}} notes</h3>
              @for(productNote of product.productNotes; track productNote; let idx = $index) {
                @if (productNote.noteType.noteTypeId == noteType.noteTypeId) {
                    <div>
                      <span>{{productNote.note.name}}</span>
                    </div>
                }
              } 
            </div>
          }
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false"
                           [disabled]="product.averageRatingAndCount!.count == 0"
                           class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Reviews
          </mat-panel-title>
          <mat-panel-description>
            <span>{{product.averageRatingAndCount!.averageRating ? product.averageRatingAndCount!.averageRating : 'No Reviews'}}</span>
            <mat-icon>star</mat-icon>
            <span>({{product.averageRatingAndCount!.count}})</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        @for(review of product.reviews; track review) {
          <div class="d-flex flex-column mt-3 mb-4">
            <div>
              <p>{{review.comment}}</p>
            </div>
            <div class="d-flex flex-row align-items-center">
              @for(star of starArray; track star; let i = $index) {
                  <mat-icon color="accent" [id]="'star_'+i">
                    {{showRatingIcon(review.rating, i)}}
                  </mat-icon>
              }
              <span class="mx-3 fw-medium">{{review.userName}}</span>
              <span class=" fw-medium">{{review.createdAt | date:'longDate'}}</span>
            </div>
          </div>
        }
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
}
@else {
    Loading....
}
