.size-price-container {
    background-color: lightblue;

    span {
        font-size: 16px;
        font-weight: 500;
    }
}

.spacer {
    flex: 1 1 auto;
  }

.size-price-option {
    font-weight: 500;
}