@if(isLoaded) {
<div class="container mt-5">
  <div class="container">
    <div class="d-flex flex-column flex-md-row">
        <img mat-card-image src="../../../assets/images/eros.jpg" class="mx-auto mx-md-0" style="max-width: 400px;" width="100%" alt="Photo">
        <div class="d-flex flex-column justify-content-between mt-3 ms-0 ms-md-5">
          <div>
              <h3>{{product.name}}</h3>
              <span>{{product.description}} ml</span>
              <p>{{product.description}}</p>
              <h2 class="mt-5">{{product.description}} €</h2>
          </div>
          <div class="d-flex flex-row mx-auto mt-3">
            <div style="width: 100px;">
              <mat-form-field style="width: 100%; font-size: 14px; margin-bottom: -20px;">
                <mat-select [(ngModel)]="selectedAmount" name="food">
                  @for (amount of amounts; track amount) {
                    <mat-option [value]="amount">{{amount}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
            <div>
            <button 
              mat-flat-button 
              class="h-100 ms-2" 
              color="primary"
              (click)="addProductToCart(); openSnackBar('Product added to Cart!', 'Dismiss')">
              <span>Add to cart</span>
              <mat-icon>shopping_basket</mat-icon>
            </button>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="container my-5">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false"
                           [disabled]="product.averageRatingAndCount!.count == 0"
                           class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Reviews
          </mat-panel-title>
          <mat-panel-description>
            <span>{{product.averageRatingAndCount!.averageRating ? product.averageRatingAndCount!.averageRating : 'No Reviews'}}</span>
            <mat-icon>star</mat-icon>
            <span>({{product.averageRatingAndCount!.count}})</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        @for(review of product.reviews; track review) {
          <div class="d-flex flex-column mt-3 mb-4">
            <div>
              <p>{{review.comment}}</p>
            </div>
            <div class="d-flex flex-row align-items-center">
              @for(star of starArray; track star; let i = $index) {
                  <mat-icon color="accent" [id]="'star_'+i">
                    {{showRatingIcon(review.rating, i)}}
                  </mat-icon>
              }
              <span class="mx-3 fw-medium">{{review.userName}}</span>
              <span class=" fw-medium">{{review.createdAt | date:'longDate'}}</span>
            </div>
          </div>
        }
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
}
@else {
    Loading....
}
